.top{
    background-color: rgb(179, 222, 238);
    color: rgb(6, 6, 6);
}
/* .radio-button{
    border: solid;
    display: flex;
    justify-content: center;
} */
.radio-button input[type="radio"] {
    transform: scale(2.5); /* Adjust the scale factor to increase or decrease the size */
    /* margin-right: 8px;  */
    /* Optional: Add spacing between the radio button and label */
  }

  .btnSubmit{
    cursor: pointer;
  }